*{
  box-sizing: border-box;
}

body{
  background: #1c1e26;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

h1{
    font-family: verdana;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    word-spacing: 9px;
    color: rgb(0, 255, 255);
    background-color:transparent;
    text-shadow: rgb(0, 0, 0) 6px 5px 10px;
}

.qr-text{
  padding: 0.5rem;
  background: #181b29;
  border: 1px solid #414866;
  border-radius: 4px;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  color: #fff;
  outline: none;
  text-align: center;
  display: flex;
}

.qr-text::placeholder{
  color: #8b92b7;
  font-weight: 500;
}

#qr-code{
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #414866;
}

#qr-code img, #qr-code canvas{
  max-width: 100% !important;
  max-height: 100% !important;
}

@media (max-width: 512px){
  body{
      max-width: 100%;
      padding: 10px;
  }
  #qr-code{
      width: 95vw;
      height: 95vw;
  }
  #qr-code img, #qr-code canvas{
      max-width: 95vw !important;
      max-height: 95vw !important;
  }
  .btn{
      min-width: unset;
  }
}

@media (max-width: 350px){
  .action-container{
      flex-direction: column;
  }
  .share-btn{
      margin-left: 0;
      margin-top: 0.7rem;
  }
}